.CommandHelp {
  padding: 1em;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 50%;

  display: flex;
  flex-direction: column;

  .help-content {
    padding-left: 1.5em;
  }

  &.parent > .help-description {
    margin-bottom: 1em;
  }

  .command-title {
    .expander {
      font-size: 0.7em;
      margin-right: 5px;

      &.expanded {
        transform: rotate(90deg);
      }
    }
  }

  transition: 150ms ease-in-out;

  &:not(.in-parent):hover {
    background: whitesmoke;
    cursor: pointer;
  }

  &.in-parent:hover {
    background: white;
  }

  &.in-parent {
    width: 100%;
    z-index: 10;
  }
}

.subtitle {
  margin-left: 10px;
  font-size: 0.4em;
}

.help-description {
  color: grey;
  margin-left: 2px;
}

.aliases,
.variations {
  margin-top: 0.5em;
  display: flex;
  align-items: center;

  .aliases-content,
  .variations-content {
    display: inline-block;

    .alias {
      margin-left: 7px;
    }
  }
}

.variations {
  display: block;

  .variations-content {
    padding-left: 1.6em;

    .variation {
      margin-left: 7px;
    }

    .variation:first-child {
      margin-left: 1px;
    }
  }
}

.usage {
  margin-top: 0.5em;

  .usage-title {
    margin-bottom: 0.7em;
  }

  .usage-content {
    padding-left: 1.5em;

    .command-name {
      color: #474747;
    }
  }
}

.parent-name {
  color: grey;
}
