.Navbar {
  width: 100%;
  padding: 0.5em;

  display: flex;
  align-items: center;

  .logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2px 2px var(--color-primary);

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 0px 0px;
    }
  }

  .navbar-item,
  .menu-item {
    margin-right: 2em;
  }

  .menu-item {
    border-bottom: var(--color-primary) 2px solid;

    &:hover {
      border-color: #02bca1;
    }
  }

  .push {
    margin-left: auto;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-item,
.menu-item:visited {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.3em;

  &:hover {
    color: #02bca1;
  }
}

.grow {
  flex-grow: 1;
}
