.SettingDisplay {
  display: flex;
  flex-direction: column;
  justify-content: baseline;

  margin-bottom: 1em;

  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    padding-left: 4px;

    label {
      font-size: 1.1em;
    }
  }
}
