.Page {
  margin-left: 0.5em;
}

.command-search {
  display: flex;
  align-items: baseline;
  font-size: 2em;
  margin-bottom: 1em;

  .command-search-input {
    font-family: var(--font-primary);
    color: var(--color-primary);
    margin-left: 0.3em;
    font-size: inherit;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    border-radius: 0px;
    padding: none;
    outline: none;
    background-color: var(--background-primary);
  }
}
